/* ページ全体の設定 */
.container {
    background-color: #f8f8f8;
    max-width: 800px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

label {
    font-size: 20px;
}

.no-complete {
    color: green;
}

.complete {
    color: red;
}

.button {
    background-color: rgb(0, 106, 255);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    margin-bottom: 20px;
}
.row-buttons {
	display: flex;
	justify-content: center;
	
	> *:nth-child(n+2) {
		margin-left: 20px;
	}
}

a.button {
    display: block;
    width: 200px;
}

.complete-button, .uncomplete-button {
    background-color: green;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    font-size: 14px;
}

.uncomplete-button {
    background-color: rgb(255, 140, 0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

p {
    font-size: 20px;
}

.text-input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px;
}

.delete-button {
    background-color: blue;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    font-size: 14px;
    margin-left: 3px;
}

.update-button {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    font-size: 14px;
    margin-left: 3px;
}
.text {
    margin-left: 20px;
}