<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>課題リスト</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>課題提出と出席確認ページ</h2>
        <hr>
        <ul class="row-buttons">
            <a href="{{ url_for('new_homework') }}" class="button">授業と課題を登録</a>
        </ul>
        <hr>
        <h2 class="no-complete">未提出</h2>
        <ul>
            {% for homework, lesson in homework_lessons %}
            {% if homework.submission == 0 %}
            <div>
                <p>授業名: {{ lesson.name }}</p>
                <p style="display:inline;">{{ homework.contest }}</p>
                <p style="display:inline;" class="text">{{ homework.limit_time.split(' ')[0] }} {{ homework.limit_time.split(' ')[1].split(':')[0] }}時{{ homework.limit_time.split(' ')[1].split(':')[1] }}分</p>
                <p></p>
                <form method="post" action="{{ url_for('complete_homework', homework_id=homework.homework_id) }}" style="display:inline;">
                    <button type="submit" class="complete-button">完了</button>
                </form>
                <form method="post" action="{{ url_for('delete_homework', homework_id=homework.homework_id) }}" style="display:inline;">
                    <button type="submit" class="delete-button">削除</button>
                </form>
                <form method="get" action="{{ url_for('update_homework', homework_id=homework.homework_id) }}" style="display:inline;">
                    <button type="submit" class="update-button">変更</button>
                </form>
            </div>
            {% endif %}
            {% endfor %}
        </ul>
        <hr>
        <h2 class="complete">提出済み</h2>
        <ul>
            {% for homework, lesson in homework_lessons %}
            {% if homework.submission == 1 %}
            <div>
                <p>授業名: {{ lesson.name }}</p>
                <p style="display:inline;">{{ homework.contest }}</p>
                <p style="display:inline;" class="text">{{ homework.limit_time.split(' ')[0] }} {{ homework.limit_time.split(' ')[1].split(':')[0] }}時{{ homework.limit_time.split(' ')[1].split(':')[1] }}分</p>
                <p></p>
                <form method="post" action="{{ url_for('uncomplete_homework', homework_id=homework.homework_id) }}" style="display:inline;">
                    <button type="submit" class="uncomplete-button">戻す</button>
                </form>
                <form method="post" action="{{ url_for('delete_homework', homework_id=homework.homework_id) }}" style="display:inline;">
                    <button type="submit" class="delete-button">削除</button>
                </form>
                <form method="get" action="{{ url_for('update_homework', homework_id=homework.homework_id) }}" style="display:inline;">
                    <button type="submit" class="update-button">変更</button>
                </form>
            </div>
            {% endif %}
            {% endfor %}
        </ul>
        <hr>
        <h2 class="delay">提出期限遅れ</h2>
        <ul>
            {% for homework, lesson in homework_lessons %}
            {% if homework.submission == 3 %}
            <div>
                <p>授業名: {{ lesson.name }}</p>
                <p style="display:inline;">{{ homework.contest }}</p>
                <p style="display:inline;" class="text">{{ homework.limit_time.split(' ')[0] }} {{ homework.limit_time.split(' ')[1].split(':')[0] }}時{{ homework.limit_time.split(' ')[1].split(':')[1] }}分</p>
                <p></p>
                <form method="post" action="{{ url_for('uncomplete_homework', homework_id=homework.homework_id) }}" style="display:inline;">
                    <button type="submit" class="uncomplete-button">戻す</button>
                </form>
                <form method="post" action="{{ url_for('delete_homework', homework_id=homework.homework_id) }}" style="display:inline;">
                    <button type="submit" class="delete-button">削除</button>
                </form>
                <form method="get" action="{{ url_for('update_homework', homework_id=homework.homework_id) }}" style="display:inline;">
                    <button type="submit" class="update-button">変更</button>
                </form>
            </div>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</body>
</html>

